* {
	box-sizing: border-box;
}

/*

	HTML element Tags

*/

body {
	/*background-color: #edeff0;*/
	background-color: #fff;
	color: #333;
	font-family: Heveltica, Arial, sans-serif;
}


/*

	Class Tags

*/

.title {
	text-align: center;
	margin: 5px 0;
}

.d4,
.d6 {
	max-width: 60px;
}

.d8,
.d10,
.d12 {
	max-width: 80px;
}

.d20 {
	max-width: 90px
}

.d100 {
	max-width: 70px;
}

.d100-collection {
	padding: 0;
	margin: 0;
	border: 1px solid #333;
	border-radius: 15px;
}

.number-d4,
.number-d6,
.number-d8,
.number-d10,
.number-d12,
.number-d20,
.number-d100-1,
.number-d100-2 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.number-d8,
.number-d10,
.number-d12 {
	transform: translate(-50%, -60%);
}


.number-d20 {
	font-size: 1rem;
}

.number-d100-1 {
	transform: translate(-310%, -60%);
}

.number-d100-2 {
	transform: translate(210%, -60%);
}

.plus,
.minus {
	background-color: #333;
	color: #fff;
	border-radius: 10px;
	border-color: #333;
}

.plus:focus,
.minus:focus {
	outline: none;
}

.num-of-dice {
	border-radius: 10px;
}

/*

	Id Tags

*/


#dice-list,
#dice-rolled {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	max-width: 90%;
}

#dice-rolled li {
	margin-top: .4rem;
	margin-right: 1rem;
	display: inline-block;
	position: relative;
}

#dice-list li {
	margin-top: .3rem;
	position: relative;
	max-height: 5rem;
}

#dice-list li img {
	display: inline;
}

#dice-list li h3 {
	font-size: 1.2rem;
	margin: 0;
	padding-left: 0.4rem;
	position: absolute;
	top: calc(50% - 1.4rem);
	display: inline;
}

#dice-list input {
	margin-left: 0.3rem;
}

#dice-list input[type="text"] {
	max-width: 40px;
}

#roll-btn {
	display: block;
	margin: .6rem auto;
	font-size: 2rem;
	width: 300px;
	height: 40px;
	color: #fff;
	background-color: #333;
	border-radius: 10px;
}

#roll-btn:focus {
	outline: 0;
}

/*

	Media Queries

*/

@media only screen and (min-width: 375px) and (min-height: 700px) and (max-height: 830px) {
	#roll-btn {
		margin-top: 2rem;
	}
}

@media only screen and (min-width: 768px) {

	.title {
		font-size: 3rem;
	}

	#dice-form {
		margin: 0 auto;
		max-width: 90%;
	}
	#dice-list {
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;
	}

	#dice-list li {
		flex: 1 50%;
	}

	#dice-list li img,
	#dice-list li h3 {
		margin-left: auto;
	}
}

@media only screen and (min-width: 1200px) {

	#dice-list {
		margin-top: 3rem;
	}

	#dice-list li {
		flex: 1 33%;
	}
}